* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body { 
    height: 100vh;
    width: 100vw;
    background-image: url(./download.jpg);
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    opacity: 1;
 }

 header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 8vh;
    background: #483838;
    color: white;
    border-bottom: 2px solid #FF1E00;
 }

 header p {
    display: flex;
    flex-grow: 1;
    font-size: 2em;
    font-weight: 600;
    padding-left: 100px;
 }

 header p span {
    color: #FF1E00;
 }

 header nav {
  display: flex;
  flex-basis:400px;
  column-gap: 50px;
 }

 header nav a {
    text-decoration: none;
    color: inherit;
 }

a:active,a:focus, a:hover {
    color: #FF1E00;
}

.first-section {
    height : 40vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 50px;
}

h1 {
    font-size: 2.5rem;
}

.second-section {
    height: 6vh;
    background-color: #483838;
    display: flex;
    align-items: center;
    color: white;
}

input {
    height: 25px;
    width: 200px;
}

button {
        height: 25px;
        width: 80px;
        background-color: #FF1E00;
        color: white;
}

.second-section h3 {
    display: flex;
    flex-grow: 1;
    padding: 100px;
}

.second-section div {
    display: flex;
    flex-basis: 400px;
}

img {
    height: 100px;
    width: 100px;
}

.third-section {
    height: 40vh;
    display: flex;
    background-color: white;
    color: black;
    column-gap: 50px;
}

.third-section div {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
}

footer {
    background-color: #FF1E00;
    color: white;
    display: flex;
    height: 6vh;
    align-items: center;
    padding-left:100px ;
}

/* Portrait view */
@media  (max-width:475px) {

    body {
        display: flex;
        flex-direction: column;
        width: 100vw;
        background-image: url(./download.jpg);
        background-color: #cccccc;
        height: 500px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        opacity: 1;
     }

     h1 {
        font-size: 2rem;
        text-align: center;
    }
    
     header {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: center;
       /* max-width: 360px;*/
        row-gap: 10px;
        height: 10vh;
        background: #483838;
        color: white;
        border-bottom: 2px solid #FF1E00;
     }

     header p {
        padding: 0;
     }

     .second-section {
        height: 6vh;
        background-color: #483838;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
    }

    input {
        height: 25px;
        width: 200px;
    }
    
    button {
            height: 25px;
            width: 80px;
            background-color: #FF1E00;
            color: white;
    }
    
    .second-section h3 {
        text-align: center;
        font-size: 1em;
        padding: 0;
    }
    
    .second-section div {
        display: flex;
        width: unset;
    }

     
    .third-section {
        display: flex;
        background-color: white;
        color: black;
        flex-wrap: wrap;
        height: unset;
    }

    footer {
        background-color: #FF1E00;
        color: white;
        display: flex;
        height: 6vh; 
        align-items: center;
        justify-content: center;
    }
}

/* Landscape view */
@media (min-width:480px) and (max-width:760px) {

    body { 
        width: 100vw;
        background-image: url(./download.jpg);
        background-color: #cccccc;
        height: 500px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        opacity: 1;
     }

    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 8vh;
        background: #483838;
        color: white;
        border-bottom: 2px solid #FF1E00;
     }
    
     header p {
        display: flex;
        flex-grow: 1;
        font-size: 1.5em;
        font-weight: 600;
        padding: unset;
     }

     header nav {
        display: flex;
        flex-basis:300px;
        column-gap: 50px;
       }
      
       header nav a {
          text-decoration: none;
          color: inherit;
          font-size: 1em;
       }

       .first-section {
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 25px;
    }

    .second-section {
        height: 8vh;
        background-color: #483838;
        display: flex;
        align-items: center;
        color: white;
    }

    .second-section h3 {
        display: flex;
        flex-grow: 1;
        padding:unset;
    }
    
    .second-section div {
        display: flex;
        flex-basis: 400px;
    }

    .third-section {
        height: unset;
        display: flex;
        background-color: white;
        color: black;
        column-gap: 40px;
    }
    
    footer {
        background-color: #FF1E00;
        color: white;
        display: flex;
        height: 8vh;
        align-items: center;
        padding-left:100px ;
    }
}